.img img {
  max-width: 120px;
  max-height: 120px;
}

.name {
  display: flex;
  flex-basis: 240px;
  align-items: center;
}

.price {
  display: flex;
  align-items: center;
  flex-basis: 100px;
  font-style: italic;
  font-size: 1.5rem;
}

.stock{
  display: flex;
  flex-basis: 75px;
  align-items: center;
  font-style: italic;
  font-size: 1.2rem;

}

.btns {
  flex-basis: 122px;
}

.cartitem {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 20px 40px;
  width: 100%;
}
