.img img {
  max-width: 120px;
  max-height: 120px;
}

.name {
  display: flex;
  flex-basis: 260px;
  align-items: center;
}

.price {
  display: flex;
  align-items: center;
  flex-basis: 95px;
  font-style: italic;
  font-size: 1.5rem;
}

.stock{
  display: flex;
  flex-basis: 60px;
  align-items: center;
  font-style: italic;
  font-size: 1.2rem;

}

.btns {
  flex-basis: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  caret-color: transparent;
  outline: none;
}

.trash{
  display: flex;
  flex-basis: 30px;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  margin: 2px 8px;
  caret-color: transparent;
}

.cartitem {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 20px 40px;
  width: 100%;
}
