* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(237, 240, 242);
}

.footer{
    margin-top: auto;
    padding: 40px 0;
    background: rgb(50, 25, 141);
    background: linear-gradient(0deg, rgb(95, 103, 131) 0%, rgb(237, 240, 242) 100%);
    opacity: 0.95;
}


