.acc-container{
    display: flex;
    justify-content: center;
}

.acc-content{
    display: flex;
    width: 900px;
    height: 1800px;
    margin: 15px 0 15px;
}

.acc-sidebar{
    position: sticky;
    top: 20px;
    margin-top: 10px;
    padding-top: 10px;
    width: 240px;
    height: 360px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);

}

.acc-sidebar a{
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
    padding-left: 12px;
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.acc-sidebar a:hover{
    background-color: rgb(225, 252, 252);
}

.sgout-btn{
    border: none;
    background-color: white;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 8px;
}

.sgout-btn:hover{
    background-color: rgb(238, 77, 77);
}

.acc-info{
    margin: 10px 10px;
    width: 100%;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}


.sections{
    display: flex;
    flex-direction: column;
    margin-left: 1rem; 
}

.sections hr{
    margin: 0 4px;
}



.ovw-info{
    display: grid;
}

.order-cards{
    display: flex;
    justify-content: space-between;
    margin: 0 16px;
}


.order-cards {
    margin: 16px;
    text-align: center;
    caret-color: transparent;
    cursor: pointer;
}

.order-cards i{
    margin-top: 30%;
    font-size: 34px;
    
    
}
.order-cards label{
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin-top: 30%;
    margin-bottom: -30%;
}


