.card {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition-property: transform, box-shadow;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    caret-color: transparent;
  }

.card:hover{
  transform: scale(1.1);
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s;
  box-shadow: 0 4px 16px rgba(28, 37, 126, 0.7);
  cursor: pointer;
  caret-color: transparent;
}